{% extends "lay.html" %}

{% block pagetitle %}<h1>Dodawanie nowego box-a</h1>
{{mess}}
{% endblock %}

{% block loginform %}

{% if form.errors %}
<p style="color: red;">Proszę poprawić poniższe błędy</p>
{% endif %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" name="add" class="btn btn-primary btn-large btn-block" value="Add"/>
        </div></div>
</form>
<!--<form action="{% url 'added' %}" method="POST">
    {% csrf_token %}
    <div class="login-screen">
        <div class="login-form">
            {{ user.username }}:<br/>
            <textarea id="text" name="text"></textarea>
            <input type="submit" class="btn btn-primary btn-large btn-block" value="Publish"/>
        </div>
    </div>
</form>-->
{% endblock %}