{% extends "lay.html" %}

{% block pagetitle %}<h1>Strona glowna</h1>{{ mess }}{% endblock %}

{% block content %}
<table style="width: 100%;"><tr>
    <td style="width: 15%; max-height: 50px;"><br>
        Pictures: {{ entries.count }}<br>
        <a href="" type="button">Download All</a><br>
    </td>
    <td style="width: 4%; border-right: 1px solid lightgray; max-height: 50px;">&nbsp;</td>
    <td style="width: 4%;">&nbsp;</td>
    <td>
        {% for entry in entries %}
        <div style="max-width: 100%;">
            <hr/>
            <table style="width: 100%;">
                <tr>
                    <td style="width: 80%;"><h2>{{ entry.title }}</h2></td>
                    <td>{% if user.is_authenticated %} <!--% if entry.can_edit %}--> <a href="/~p2/mysite.wsgi/blog/edit/{{entry.pk}}">Edit</a> <!--% endif %}--> {% endif %}</td>
                </tr>
            </table>
            <p style="font-size: 12px;"> • <a href="/~p2/mysite.wsgi/blog/tags/{{entry.box.id}}">{{ entry.box }}</a></p>
            <p style="font-size: 18px;"><a href="/~p2/mysite.wsgi/blog/{{ entry.image }}"><img src="/~p2/mysite.wsgi/blog/{{ entry.image }}" style="max-width: 100px;max-height: 100px;" /></a></p>
            <p style="font-size: 12px;">Napisano {{entry.pub_date}} przez <a href="/~p2/mysite.wsgi/blog/users/{{entry.author.id}}">{{entry.author}}</a>{% if entry.be_edit %} i edytowano {{entry.edit_date}} przez <a href="/~p2/mysite.wsgi/blog/users/{{entry.edit_user.id}}">{{entry.edit_user}}</a>{% endif %}</p>
        </div>
        {%  endfor %}
    </td>
</tr></table>
{% endblock %}