{% extends "lay.html" %}

{% block pagetitle %}<h1>Szczegóły użytkownika {{ user }}</h1>

{% endblock %}

{% block content %}
{% for entry in entries %}
<hr />
<h3>{{entry.text}}</h3>
<p>Napisano {{entry.pub_date}} przez <a href="/~p2/mysite.wsgi/blog/users/{{entry.author}}">{{entry.author}}</a></p>
{%  endfor %}
{% endblock %}