<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>MySite - Blog p2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}

    <!-- Loading Bootstrap -->
    <link href="/~p2/static/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="/~p2{{ STATIC_URL }}css/flat-ui.css" rel="stylesheet">
    <link rel="shortcut icon" href="/~p2{{ STATIC_URL }}images/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="/~p2{{ STATIC_URL }}js/html5shiv.js"></script>
    <![endif]-->

</head>
<body>
<!--<div style="text-align: center; width: 100%;"><h2><p style="color: red;">Hej grupo p7,<br/>przejąłem wasz serwer bo mój się kszaczy !<br/>Jeśli chcesz go odzyskać napisz: cherbert@vp.pl</p></h2></div>-->
<!--<div style="text-align: center; width: 100%;"><h2><p style="color: red;">Drogi Oceniajacy. <br/>Strona jest już gotowa !<br/>Przepraszamy za utrudnienia. Grupa p7</p></h2><hr/><br/></div>-->

<div class="container" style="min-height: 500px;">
    <div>
        <div class="row demo-row demo-row-up">
        {% block menu %}
        <div class="span9">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="nav-collapse collapse" style="width: 100%;">
                    <ul class="nav" style="width: 100%;">
                        <li>
                            <a href="{% url 'index' %}">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="/~p2/mysite.wsgi/blog/add/">
                                Add
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li><div style="min-width: 450px;">.</div></li>
                        <li>
                            <a href="/~p2/mysite.wsgi/blog/my">Hi, {{ user.username }}</a>
                            <ul>
                                <li><a href="/~p2/mysite.wsgi/blog/my">My Publish</a></li>
                                <li><a href="/~p2/mysite.wsgi/blog/newpass">Change Password</a></li>
                                <li><a href="/~p2/mysite.wsgi/blog/logout/">Log Out</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li><div style="min-width: 400px;">.</div></li>
                        <li>
                            <a href="/~p2/mysite.wsgi/blog/login/">Log In</a>
                            <ul>
                                <li>
                                    <div class="login-form"><form action="{% url 'log_in' %}" method="POST">
                                        {% csrf_token %}
                                        <div class="control-group">
                                            <input type="text" class="login-field2" value="" placeholder="Login" id="log" name="username" />
                                            <label class="login-field-icon fui-man-16" for="log"></label>
                                        </div><div class="control-group">
                                        <input type="password" class="login-field2" value="" placeholder="Password" id="pas" name="password" />
                                        <label class="login-field-icon fui-lock-16" for="pas"></label>
                                    </div>
                                        <input type="submit" class="btn btn-primary btn-large btn-block" name="go" value="Login" />
                                    </form>
                                    </div>
                                </li>
                            </ul> <!-- /Sub menu -->
                        </li>
                        <li>
                            <a href="/~p2/mysite.wsgi/blog/register">Sign In</a>
                        </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        </div>
        {% endblock %}
        <div class="span3">
            <div class="navbar navbar-inverse">
                <div class="navbar-inner">
                    <div class="nav-collapse collapse">
            <ul class="nav">
                <li>
                    <a href="/~p2/mysite.wsgi/blog/">Everyone</a>
                    <ul>
                        {% for use in users %}
                        <li><a href="/~p2/mysite.wsgi/blog/users/{{use.id}}">{{use.username}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li>
                    <a href="/~p2/mysite.wsgi/blog/">Boxs</a>
                    <ul>
                        {% for tag in tages %}
                        <li><a href="/~p2/mysite.wsgi/blog/tags/{{tag.id}}">{{tag}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            </div></div></div>
            <!--<form method="POST" action="/~p2/mysite.wsgi/blog/selec/">
                {% csrf_token %}
                <table><tr><td>
                    <select value="0" class="span3" tabindex="1" name="herolist" id="userSelect">
                        <option name="options" value="0"><a href="onet.pl">Everyone</a></option>
                        {% for use in users %}
                        <option name="options" value="{{use.id}}">{{use.username}}</option>
                        {% endfor %}
                    </select></td><td>
                    <input type="submit" class="btn btn-primary btn-large btn-block" value=" Go  "/>
                </td></tr></table>
            </form>-->
        </div>
    </div> <!-- /row -->
    </div><!-- Menu -->
    <div style="width: 80%; padding-left: 10%;">
        <table style="width: 100%;"><tr>
            <td style="width: 60%;">
                <div style="width: 100%;">{% block pagetitle %}Default{% endblock %}</div>
            </td>
            <td style="width: 15%; text-align: left;">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a class="btn btn-primary" href="/~p2/mysite.wsgi/blog/index1"><i class="fui-time"></i></a>
                        <a class="btn btn-primary active" href="/~p2/mysite.wsgi/blog/index"><i class="fui-photo"></i></a>
                        <a class="btn btn-primary" href="/~p2/mysite.wsgi/blog/index2"><i class="fui-heart"></i></a>
                        <!--<a class="btn btn-primary active" href="/~p2/mysite.wsgi/blog/size/3"><i class="fui-photo"></i></a>-->
                    </div>
                </div>
            </td>
            <td style="width: 25%; text-align: right;">
                <a href="/~p2/mysite.wsgi/blog/addbox" class="btn btn-large btn-block btn-primary" style="text-decoration: none;"> Add Box </a>
            </td>
        </tr></table>
        <div style="width: 100%;">{% block loginform %}{% endblock %}</div>
        <div style="width: 100%;">{% block content %}{% endblock %}</div>
    </div><!-- content -->
</div> <!-- /container -->

<br/>
<footer>
    <div class="container">
        <div class="row">
                <h3 class="footer-title">Subscribe</h3>
                <p>Do you like this freebie? Want to get more stuff like this?<br/>
                    Subscribe to designmodo news and updates to stay tuned on great designs.<br/>
                    Go to: <a href="http://designmodo.com/flat-free" target="_blank">designmodo.com/flat-free</a>
                </p>

        </div>
    </div>
</footer>

<!-- Load JS here for greater good =============================-->
<script src="/~p2{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
<script src="/~p2{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/~p2{{ STATIC_URL }}js/jquery.dropkick-1.0.0.js"></script>
<script src="/~p2{{ STATIC_URL }}js/custom_checkbox_and_radio.js"></script>
<script src="/~p2{{ STATIC_URL }}js/custom_radio.js"></script>
<script src="/~p2{{ STATIC_URL }}js/jquery.tagsinput.js"></script>
<script src="/~p2{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="/~p2{{ STATIC_URL }}js/jquery.placeholder.js"></script>
<script src="http://vjs.zencdn.net/c/video.js"></script>
<script src="/~p2{{ STATIC_URL }}js/application.js"></script>
<!--[if lt IE 8]>
<script src="/~p2{{ STATIC_URL }}js/icon-font-ie7.js"></script>
<script src="js/icon-font-ie7-24.js"></script>
<![endif]-->
</body>
</html>